@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Francois+One&display=swap');

body {
	padding: 10px;
	background-image: url(Images/Textures/TexturesCom_Crackles0060_1_seamless_S.jpg);
	background-size: 600px;
	color: #d3b5ff;
	font-family: 'Francois One', sans-serif;
}
	body::after {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: linear-gradient(55deg, #170048f0, #29002ff2);
		z-index: -1;
	}

h1, h2, h3, h4, h5, h6 {
	color: #8430FF;
	font-family: 'Bubblegum Sans', cursive;
}
	h1 {
		font-size: 5rem;
		text-shadow: 0 0 30px #4b047391;
	}

hr {
	border-top: 1px solid rgba(157, 158, 255, 0.36);
}



/* Bootstrap overrides */
a.btn[aria-expanded=false]::after {
	content: "More info";
}
a.btn[aria-expanded=true]::after {
	content: "Less info";
}

.btn-primary {
	background-color: #7555FF;
	border-color: #7555FF;
}
	.btn-primary:hover {
		background-color: #6448F6;
		border-color: #5E43E7;
	}

.card {
	margin: 15px 15px 40px 15px;
	color: #423451;
	background-color: #ede7ff;
	overflow: hidden;
	border-radius: 0.4rem;
}
	.card-title > a {
		font-family: 'Francois One', sans-serif;
		font-size: 1.3rem;
		color: #2c0659;
	}
	.card > a {
		position: relative;
		overflow: hidden;
		box-shadow: 0 0 10px #100033;
	}
		.imageR, .imageG, .imageB {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.0; /*animation start*/
			animation: fade-in 0.5s forwards;
			animation-delay: 0.5s;
		}
			.imageG, .imageB {
				transition: margin 0.7s ease-in-out;
				/*mix-blend-mode: plus-lighter;*/ /* Works perfect on FireFox, but not Chrome */
				mix-blend-mode: screen; /* Colors won't blend well on transition of opacity on pageload */
			}
			.card:hover .imageG {
				margin: -2px 0 0 -10px;
			}
			.card:hover .imageB {
				margin: 2px 0 0 10px;
			}



@keyframes fade-in {
	from {
		opacity: 0.0;
	}
	to {
		opacity: 1.0;
	}
}
